/* Global styles */
html {
    background-color: #2c3e50; /* Set background color for the entire page */
}

body, a, button {
    font-size: 24px; /* Default font size for body, links, and buttons */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    border: 0; /* Remove default border */
    min-height: 180; /* Set minimum height */
    width: 296px; /* Set width */
    border-radius: 10px; /* Add border radius for rounded corners */
}

/* Heading styles */
h1 {
    font-size: 30px; /* Font size for headings */
    font-weight: 500; /* Set font weight */
    margin: 0; /* Remove default margin */
}

/* Paragraph styles */
p {
    font-size: 14px; /* Font size for paragraphs */
}

/* Button styles */
button {
    border: none; /* Remove button border */
    font-size: 16px; /* Font size for buttons */
    padding: 12px 12px; /* Padding for buttons */
    margin: 8px 0px 8px 0px; /* Margin for buttons */
    border-radius: 3px; /* Add border radius */
    box-shadow: 0px 3px 2px 1px #00131f; /* Add box shadow */
    width: 100%; /* Make button width 100% */
    transition: background-color 0.2s ease; /* Smooth transition for background color */
}

/* Button hover state */
button:active {
    background-color: #85c441; /* Change background color on button click */
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif; /* Set font family */
}

/* Modal header styles */
.modal-header {
    background-color: #2c3e50; /* Background color for modal header */
    color: #fff; /* Text color for modal header */
    text-align: center; /* Align text to center */
    align-items: center; /* Align items to center */
    padding: 3px; /* Padding for modal header */
}

/* Modal content styles */
.modal-content {
    background-color: #2c3e50; /* Background color for modal content */
    padding: 20px; /* Padding for modal content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    border-top: 2px solid #3498db; /* Add border on top */
}

/* Container styles */
.container {
    text-align: center; /* Align text to center */
    margin: 0; /* Remove default margin */
    border: 1px; /* Set border */
    border-color: black; /* Border color */
    border-style: solid; /* Border style */
}

/* Label styles */
.label {
    font-size: 14px; /* Font size for labels */
    color: #ecf0f1; /* Text color for labels */
}

/* Number styles */
.number, .total-number {
    font-size: 24px; /* Font size for numbers */
    font-weight: bold; /* Set font weight */
    color:  #3498db; /* Text color for numbers */
}

/* Analyze button styles */
.analyze-button {
    background-color: #3498db; /* Background color for analyze button */
    color: #fff; /* Text color for analyze button */
    padding: 10px 20px; /* Padding for analyze button */
    border: none; /* Remove button border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 16px; /* Font size for analyze button */
    padding: 3px 3px 8px 3px; /* Padding for analyze button */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Analyze button hover state */
.analyze-button:hover {
    background-color: #2980b9; /* Change background color on hover */
}

/* Modal box styles */
.modal-box {
    border: 2px  #3498db solid; /* Add border for modal box */
    border-radius: 3px; /* Add border radius */
}

/* Modal footer styles */
.modal-footer {
    text-align: center; /* Align text to center */
    padding: 3px 3px 8px 3px; /* Padding for modal footer */
    font-size: 12px; /* Font size for modal footer */
}

/* Link styles */
.link {
    color: #ecf0f1; /* Text color for links */
    text-decoration: none; /* Remove default underline */
    font-size: 14px; /* Font size for links */
}

/* Link hover state */
.link:hover {
    text-decoration: underline; /* Add underline on hover */
}
